@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {scroll-behavior: smooth;}

li {list-style: none;}
a, a:hover {text-decoration: none;}

p {
  color: #000;
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.9rem;
}

.extra-div h2, 
.services-div h2 {
  line-height: 1.1;
  font-weight: bold;
  font-size: 0.9rem;
  word-spacing: 4px;
  margin: 20px 0 15px 0;
}

i {
  color: #00a8ff;
}

/* HEADER STYLINGS */

.header {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 168, 255, .3), rgba(0, 168, 255, .3)), url('images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}

.header::before {
  content: '';
  z-index: -1;

  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  position: absolute;

  opacity: .3;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

/* .navbar {
  z-index: 3 !important;
} */

.navbar::before {
  content: '';
  z-index: -1;

  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  position: absolute;

  background: #fff;
}

.navbar-brand {
  color: rgb(0, 168, 255) !important;
  transition: all 250ms ease;
}

.nav-item a {
  color: rgb(0, 168, 255) !important;
  transition: all 250ms ease;
}

.header-section {
  width: 100%;
  color: #fff;
  height: inherit;
  text-align: center;
  position: relative;
}

.center-div {
  width: 100%;
  height: auto;

  top: 45%;
  left: 50%;
  position: absolute;
  ransform: translate(-45%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.center-div h1 {
  margin-bottom: 0;
}

.center-div p {
  color: #fff;
}

.header-buttons {
  margin-top: 25px;
}

.header-buttons a {
  border: 1px solid #fff;
  border-radius: 100px;

  margin: 0 5px;
  padding: 12px 35px;
  text-align: center;

  color: #fff;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;

  transition: all 250ms ease;
}

.header-buttons a:hover,
.header-buttons a:focus {
  background: #fff;
  text-decoration: none;
  color: rgb(0, 168, 255);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

/* END OF HEADER STYLINGS */

/* EXTRA HEADER DIVS STYLINGS */

.header-extradiv {
  width: 100%;
  height: auto;
  margin: 100px 0;
  text-align: center;
}

.extra-div {
  background: #fff;
  border-radius: 3px;
  border: medium none;
  padding: 50px !important;

  transition: 250ms all ease;
}

.extra-div h2 {
  line-height: 1.1;
  font-weight: bold;
  font-size: 0.9rem;
  word-spacing: 4px;
  margin: 20px 0 15px 0;
}

.extra-div:hover {
  z-index: 3;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  transform: translateY(-20px);
}

/* END OF EXTRA HEADER DIVS STYLINGS */

/* OFFER SECTION STYLINGS */

.services-offers {
  padding: 50px 0;
  margin-bottom: 50px;
  background: #f7f7f9;
}

.headings {
  margin-bottom: 50px;
}

.headings h1 {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.names h1 {
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.services-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  height: 0.6rem !important;
  margin-bottom: 25px !important;
  background: #606060;
}

/* END OF OFFER SECTION STYLINGS */

/* PROJECTS DONE SECTION STYLINGS */

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* END OF PROJECTS DONE STYLINGS */

/* PROJECTS DONE SECTION STYLINGS */

.projects-work {
  margin: 100px 0;
}

.projects-work h1 {
  font-size: 2rem;
  text-align: center;

}

/* END OF PROJECTS DONE SECTION STYLINGS */

/* PRICING SECTION STYLINGS */

.pricing {
  width: 100%;
  height: 100vh;
  padding: 50px;

  position: relative;
}

.pricing::before {
  content: '';
  z-index: -1;

  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  position: absolute;

  opacity: .9;
  background: linear-gradient(160deg, #00a8ff 55%, #fff 0%);
}

.money {
  font-size: 40px;
  line-height: 1;
  color: #606060;
}

.card {
  transition: 250ms all ease;
}

.card-header {
  font-size: 1.6rem;
  font-weight: bold;
  background: #fff !important;
  padding: 25px 9px !important;
}

.card-body {
  padding: 30px 0px !important; 
}

.card-body li {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #606060;
}

.card-footer {
  background: white !important;
  padding: 30px 0px !important;
}

.card-footer a {
  border: 1px solid #00a8ff;
  border-radius: 100px;

  margin: 0 5px;
  padding: 12px 35px;
  text-align: center;

  color: #00a8ff;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;

  transition: all 250ms ease;
}

.card:hover .card-footer a,
.card-footer a:focus {
  color: #fff;
  background: #00a8ff;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3); 
}

.card:hover .card-header,
.card:hover .money {
  color: #00a8ff;
}

.card-second {
  transform: translateY(-20px);
}

/* END OF PRICING SECTION STYLINGS */

/* FEEDBACK SECTION STYINGS */

.feedbacks {
  width: 100%;
  height: 100vh;
  padding: 80px 0;
}

.box {
  margin-top: 5px;
  position: relative;

  text-align: center;
  border-radius: 3px;
  border: 1px solid (0, 0, 0, .3); 
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .3);

  transition: all 250ms ease;
}

.box:hover {
  background: #00a8ff;
}

.box:hover p {
  color: #fff;
}

.box a img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.box a {
  outline: none;
  position: relative;
}

.carousel-indicators {
  right: 0;
  bottom: -60px !important;
  position: absolute;
}

.carousel-indicators li {
  background-color: #00a8ff !important;
}

.box h1 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.box h2 {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* END OF FEEDBACK SECTION */

/* CONTACT SECTION STYLINGS */

.contact-us {
  width: 100%;
  height: 100vh;
  padding: 80px 0;

  position: relative;
}

.contact-us::before {
  content: '';
  z-index: -1;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  background: linear-gradient(330deg, #00a8ff 55%, #fff 0%)
}

.form-button button {
  border: 1px solid #fff;
  border-radius: 100px;

  margin: 0 5px;
  padding: 12px 35px;
  text-align: center;

  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background: transparent;

  transition: all 250ms ease;
}

.form-button button:hover,
.form-button button:focus {
  color: #00a8ff;
  background: #fff;
  border: 1px solid #00a8ff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .3);
}

::placeholder {
  font-size: 0.85rem;
}

/* END OF CONTACT SECTION STYLINGS */

/* FOOTER STYLINGS */

.footer {
  width: 100%;
  height: auto;
  margin-top: 120px;
  background: #00a8ff;
  padding: 70px 0 20px 0;
}

.footer p {
  color: #fff; 
}

.footer li a {
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: capitalize;
}

.footer h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.footer .copyright p {
  color: #535353;
}

.footer .newsletter input {
  border-radius: 25px;
}

.footer .newsletter .input-group-text {
  border-radius: 25px;
  background-color: #00a8ff;
}

.footer .newsletter .input-group-text a {
  color: #fff;
  text-decoration: none;
}

#myScrollBtn {
  z-index: 22;
  border: none;
  /* display: none; */
  color: #fff;

  right: 40px;
  bottom: 20px;
  position: fixed;

  padding: 10px;
  border-radius: 10px;
  background: #00a8ff;

  transition: all 250ms ease;
}

#myScrollBtn:hover {
  background: #606060;
}

/* END OF FOOTER STYLINGS */

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media (max-width: 768px) {
  .nav-item {
    text-align: center;
  }

  .pricing,
  .feedbacks,
  .contact-us {
    height: auto;
    margin-top: 50px;
  }

  .card-second {
    transform: translateY(0px);
    margin: 30px 0;
  }

  .contact-us p {
    padding: 0 50px;
  }

  .footer-div:nth-child(2) {
    text-align: left !important;
  }

  .footer-div {
    margin: 30px 0;
  }

  .copyright {
    padding: 0 30px;
  }
}

@media (max-width: 991px) {
  .services-div {
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .counter {
    display: block !important;
  }
}

/* END OF MEDIA QURIES */

